.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navlinks{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navlink{
    color: var(--secondary-text);
    font-weight: 500;
}
.navlink.active{
    color: var(--secondary-color);
}
.menu_icon{
    display: none;
}
@media screen and (max-width: 640px) {
    .navlinks{
        display: none;
    }
    .menu_icon{
        display: block;
        width: 35px;
        height: 35px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        cursor: pointer;
        transition: all 0.3s;

        &:hover{
            background: rgb(250, 250, 250);
        }
    }
    .navbar{
        height: 56px;
    }
}