.card {
    position: absolute;
    background-color: white;
    padding: 1rem;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 6px;

    small {
        font-size: 12px;
        font-weight: 500;
    }
}

.right_card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--black);

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        >span {
            font-size: 1.3rem;
            font-weight: 600;
            white-space: nowrap;
        }
    }

    @media screen and (max-width: 550px) {
        >div>span {
            font-size: 1rem;
        }
    }
}

.hero_right_card {
    top: 31%;
    left: 85%;
    z-index: 20;

    @media screen and (max-width: 660px) {
        left: 75%;
    }

    @media screen and (max-width: 580px) {
        left: 65%;
    }
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.getStarted_right_card {
    bottom: 8%;
    left: 85%;

    @media screen and (max-width: 670px) {
        left: 75%;
    }

    @media screen and (max-width: 330px) {
        display: none;
    }
    @media screen and (max-width: 590px) {
        display: none;
    }
}

.left_card {
    background: white;

    .transaction_history {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .row {
            display: flex;
            align-items: center;
            gap: 10px;

            >div {
                display: flex;
                gap: 2rem;
                justify-content: space-between;
                width: 100%;

                .price {
                    font-size: 0.7rem;
                    font-weight: 600;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;

                    :nth-child(1) {
                        font-weight: 600;
                        white-space: nowrap;
                    }

                    :nth-child(2) {
                        font-size: 0.6rem;
                    }
                }

                @media screen and (max-width: 410px) {
                    gap: 0.5rem;
                }
            }
        }
    }
}

.hero_left_card {
    top: 33%;
    right: 68%;
    z-index: 0;

    @media screen and (max-width: 630px) {
        right: 60%;
    }

    @media screen and (max-width: 580px) {
        right: 50%;
    }

    @media screen and (max-width: 540px) {
        right: 40%;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}

.getStarted_left_card {
    top: 20%;
    right: 90%;

    @media screen and (max-width: 760px) {
        right: 80%;
    }
    @media screen and (max-width: 710px) {
        right: 70%;
    }
    @media screen and (max-width: 670px) {
        right: 60%;
    }

    @media screen and (max-width: 590px) {
        display: none;
    }
}