.features_container{
    padding: 5rem 0;
}
.features{
    display: flex;
    justify-content: center;
}
.feature_cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
}
.feature_card{
    width: 280px;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .logo{
        background: #FFF0F0;
        width: max-content;
        padding: .7rem;
        border-radius: .5rem;
    }
}
@media screen and (max-width: 1055px) {
    .feature_cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 7rem;
    }
    .feature_card{
        width: auto;
    }
}
@media screen and (max-width: 750px) {
    .feature_cards{
        column-gap: 3rem;
    }
    .features_container{
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 550px) {
    .feature_cards{
        grid-template-columns: 1fr;
    }
}